@import 'src/common/scss/mixins';

.form {
  @include media-mobile {
    width: 300px;
  }

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 400px;
  margin: 30px;
  padding: 40px 20px;

  background-color: $color-background-dark;
  border-radius: 5px;

  .text_field {
    min-height: 70px;
  }

  .title {
    color: white;
  }

  .link {
    color: $color-primary;

    &:hover {
      color: $color-secondary;
    }
  }
}
